{% extends 'base.html' %}

{% block contenido %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Lista de usuarios</h1>
    <div class="container">
        <ul class="list-group">
            {% for usuario in usuarios %}
                <li class="list-group-item d-flex align-items-center">
                    <img src="{{ usuario.imagen.url }}" alt="imagen_usuario" class="rounded-circle me-3" style="max-width: 30px; max-height: 30px;">
                    {{ usuario.username }}
                    (<a class="text-primary ms-2" href="{% url 'apps.usuario:usuario_delete' pk=usuario.pk %}">Eliminar</a>)
                </li>
            {% empty %}
                <li class="list-group-item">No hay usuarios</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
