{% extends 'base.html' %}

{% block contenido %}

    <div class="container-fluid" style="margin: 300px;">
        <h1 class="text-center">Eliminar post</h1>
        <p class="lead text-center">¿Estás seguro de que quieres eliminar el post "{{ object.usuarios }}"?</p>
        <form method="POST" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger me-2">Sí, eliminar</button>
            <a href="{% url 'apps.posts:posts' %}" class="btn btn-success" style="color: black;">No, cancelar</a>
        </form>
    </div>
    
      
{% endblock %} 

