
{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}
{% block contenido %}

<div class="container-fluid">
  <div class="row">
    <aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mb-xl-5 px-2 col-md-3">
      <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Vida Verde</h2>
      <nav class="small" id="toc">
        <ul class="list-unstyled">
          <li class="my-2">
            <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse"><strong>Categorias</strong></button>
            <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
              {% for categoria in categorias %}
                <li>{{ categoria.nombre }}</li>
              {% empty %}
                <li>No hay categoría</li>
              {% endfor %}
            </ul>
          </li>
          <li class="my-2">
            <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#forms-collapse" aria-controls="forms-collapse"><strong>Contacto</strong></button>
            <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
              <li><a class="d-inline-flex align-items-center rounded text-dark text-decoration-none   " href="{% url 'apps.contacto:contacto' %} ">Por mensaje</a></li>
                 <li><a class="d-inline-flex align-items-center rounded  text-dark  text-decoration-none" href="#disabled-forms">Facebook</a></li>
          <li><a class="d-inline-flex align-items-center rounded text-dark  text-decoration-none" href="#sizing">Instagram</a></li>
          <li><a class="d-inline-flex align-items-center rounded  text-dark text-decoration-none" href="#input-group">Whatsap</a></li>

            </ul>
          </li>
          <li class="my-2">
            <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#components-collapse" aria-controls="components-collapse"><strong>Inicio</strong></button>
            <ul class="list-unstyled ps-3 collapse" id="components-collapse">
              <li><a class="d-inline-flex align-items-center rounded text-decoration-none text-dark  " href="{% url 'index' %}">Inicio</a></li>
              <li><a class="d-inline-flex align-items-center rounded text-decoration-none text-dark  " href="#alerts">Noticias</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <div class="col-md-9">
      <div class="container-fluid" style="margin-top: 20px;">
        <h2>{{ posts.titulo }}</h2>
        <h3>{{ posts.subtitulo }}</h3>
        <p>{{ posts.categoria }}</p>
        <p>{{ posts.texto }}</p>
        {% if posts.imagen %} 
        <img src="{{ posts.imagen.url }}" alt="">
        {% else %}
        <p>No hay imágen disponible</p>
        {% endif %}
        {% if user.is_superuser or request.user|has_group:"colaborador" %}
        <div class="container-fluid mt-3">
          <a class="btn btn-success me-2" href="{% url 'apps.posts:post_update' pk=posts.id %}">Modificar Post</a>
          <a class="btn btn-success" href="{% url 'apps.posts:post_delete' pk=posts.pk %}">Eliminar Post</a>
      </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    <ul class="list-unstyled ps-3 collapse" id="components-collapse">
    
      <li><form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit"   value="Comentar">Comentar</button>
    </form></li>
  
    </ul>
  
   
  {% else %}
    <h2>debes uniciar sesion</h2>
    <a class="btn" href="#">iniciar sesion</a>
    <input type="hidden" name="next" >
  {% endif%}
    
  {% include 'comentario/crear_comentario.html' %}
      <!--<div class="container-fluid" style="margin-bottom: 20px;">
        <h4>Comentarios</h4>
          {% for comentario in comentarios %}
             <div>
               <p>{{ comentario.usuario }} - {{ comentario.fecha }}</p>
               <p>{{ comentario.texto }}</p>
             </div>
           {% empty %}
          <p>No hay comentarios</p>
          {% endfor %}
      </div>
    
      
    </article>
   
 
      </div>
    </div>
  </div>
</div>-->
  
{% endblock %}








    

  





    
   
    
