
{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<center>
 
<aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mb-xl-5 px-2" >
  
  <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Vida Verde</h2>
  <nav class="small" id="toc">
    <ul class="list-unstyled">

      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse">Categorias</button>
        <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
      
         
         
        {% for categoria in categorias %}
         
          <li>{{ categoria.nombre }}</li>
          {% empty %}
          <li>No hay categoría</li>
        {% endfor %}
        </ul>
      </li>
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#forms-collapse" aria-controls="forms-collapse">Contacto</button>
        <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
          <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="{% url 'apps.contacto:contacto' %} ">Por mensaje</a></li>
          <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#disabled-forms">Facebook</a></li>
          <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#sizing">Instagram</a></li>
          <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#input-group">Whatsap</a></li>

        </ul>
      </li>
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#components-collapse" aria-controls="components-collapse">Inicio</button>
        <ul class="list-unstyled ps-3 collapse" id="components-collapse">
          <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="{% url 'index' %}">Inicio</a></li>
          <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#alerts">Noticias</a></li>
      
        </ul>
      </li>
    </ul>
  </nav>
</center>

<center>
<div  class="container-fluid" style="margin: 200px;">

  <table>{{ posts.titulo }}</table>
  <table>{{ posts.subtitulo }}</table>
  <table>{{ posts.categoria }}</table>
  <br>
  <table>{{ posts.texto }}</table>
  <img src="{{ posts.imagen.url }}" alt="">

</div>


<div class="container-fluid" style="margin-bottom : 20px">
  <h4>Comentarios</h4>
  <br>
</div>
<div class="container-fluid" style="margin-bottom: 20px"></div>
    {% for comentario in comentarios %}
       <table>{{ comentario.usuario }} - {{ comentario.fecha }}</table>
       <ul class="w-100 list-unstyled d-flex justify-content-between mb-o">
           <p>{{ comentario.texto }}</p>
           <br>
       </ul>
    {% empty %}
    <li>No hay comentario</li>
    {% endfor %}
</div>
<a id="comentario"></a>
<div class="container-fluid" style="margin-bottom: 100px">
<form method="POST" style=" margin-bottom: 100px; margin-top: 100px">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <h2>Deja tu comnetario</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Comentar">

        </form>
    {% else %}
        <h2>Debes iniciar sesion</h2>
        <a class="btn btn-succes btn-lg" href="{% url 'apps.usuario:login' %}?next={{ request.path }}#comentario">Iniciar sesion</a>
        <input type="hidden" name="next" value="{{ request.path }}">
        {% endif %}
</form>


</div>


</center>
{% endblock %}