
{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="container-fluid">
  <div class="row">
    <aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mb-xl-5 px-2 col-md-3">
      <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Vida Verde</h2>
      <nav class="small" id="toc">
        <ul class="list-unstyled">
          <li class="my-2">
            <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse">Categorias</button>
            <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
              {% for categoria in categorias %}
                <li>{{ categoria.nombre }}</li>
              {% empty %}
                <li>No hay categoría</li>
              {% endfor %}
            </ul>
          </li>
          <li class="my-2">
            <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#forms-collapse" aria-controls="forms-collapse">Contacto</button>
            <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
              <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="{% url 'apps.contacto:contacto' %} ">Por mensaje</a></li>
                 <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#disabled-forms">Facebook</a></li>
          <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#sizing">Instagram</a></li>
          <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#input-group">Whatsap</a></li>

            </ul>
          </li>
          <li class="my-2">
            <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#components-collapse" aria-controls="components-collapse">Inicio</button>
            <ul class="list-unstyled ps-3 collapse" id="components-collapse">
              <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="{% url 'index' %}">Inicio</a></li>
              <li><a class="d-inline-flex align-items-center rounded text-decoration-none" href="#alerts">Noticias</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <div class="col-md-9">
      <div class="container-fluid" style="margin-top: 20px;">
        <h2>{{ posts.titulo }}</h2>
        <h3>{{ posts.subtitulo }}</h3>
        <p>{{ posts.categoria }}</p>
        <p>{{ posts.texto }}</p>
        <img src="{{ posts.imagen.url }}" alt="">
      </div>

      <div class="container-fluid" style="margin-bottom: 20px;">
        <h4>Comentarios</h4>
        {% for comentario in comentarios %}
          <div>
            <p>{{ comentario.usuario }} - {{ comentario.fecha }}</p>
            <p>{{ comentario.texto }}</p>
          </div>
        {% empty %}
          <p>No hay comentarios</p>
        {% endfor %}
      </div>

      <a id="comentario"></a>
      <div class="container-fluid" style="margin-bottom: 100px;">
        <form method="POST" style="margin-bottom: 100px; margin-top: 20px;">
          {% csrf_token %}
          {% if user.is_authenticated %}
            <h2>Deja tu comentario</h2>
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Comentar">
            </form>
          {% else %}
            <h2>Debes iniciar sesión</h2>
            <a class="btn btn-success btn-lg" href="{% url 'apps.usuario:login' %}?next={{ request.path }}#comentario">Iniciar sesión</a>
            <input type="hidden" name="next" value="{{ request.path }}">
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}