{% extends 'base.html' %}
{% load colaborador_tags %}


{% block contenido %}
<center>
{% if user.is_superuser or request.user|has_group:"colaborador" or comentario.usuario == user %}
    <div class="container-fluid" style="margin: 300px;">
      <h1>Eliminar Comentario</h1>
      <p>¿Estás seguro de quye quieres eliminar el comentario?</p>
      <form method="POST">
          {% csrf_token %}
          <input type="submit" value="Sí, eliminar">
          <a style="color:black;" href="{{ object.get_absolute_url }}">No, cancelar</a>
      </form>
    </div>
{% else %}
    <div class="container-fluid" style="margin: 300px;">
        <h1>Solo usuarios con permiso puede acceder a esta página</h1>
    </div>
{% endif %}
</center>
{% endblock %}