{% extends 'base.html' %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        {% if user.is_superuser or comentario.usuario == user %}
            <div class="col-md-6">
                <h1 class="text-center mb-4">Editar comentario</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </form>
            </div>
        {% else %}
            <div class="col-md-6 text-center">
                <h1>Solo usuarios con permisos pueden acceder a esta página</h1>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
