{% extends 'base.html' %}
{% load colaborador_tags %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        {% if user.is_superuser or request.user|has_group:"colaborador" or comentario.usuario == user %}
            <div class="col-md-6 text-center">
                <h1>Eliminar Comentario</h1>
                <p>¿Estás seguro de que quieres eliminar el comentario?</p>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
                    <a href="{{ object.get_absolute_url }}" class="text-dark">No, cancelar</a>
                </form>
            </div>
        {% else %}
            <div class="col-md-6 text-center">
                <h1>Solo usuarios con permiso pueden acceder a esta página</h1>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
