{% load colaborador_tags %}

<div class="container-fluid mb-4">
    <h2 class="text-center">Comentarios</h2>
</div>

<div class="container-fluid mb-4">
    {% for comentario in comentarios %}
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">{{ comentario.usuario }} - {{ comentario.fecha }}</p>
                <p class="card-text">{{ comentario.texto }}</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% if user.is_superuser or comentario.usuario == user %}
                        <a class="btn btn-primary me-2" href="{% url 'apps.posts:comentario_editar' pk=comentario.pk %}?next={{ request.path }}">Editar</a>
                    {% endif %}
                    {% if user.is_superuser or comentario.usuario == user or request.user|has_group:"colaborador" %}
                        <a class="btn btn-danger" href="{% url 'apps.posts:comentario_eliminar' pk=comentario.pk %}">Eliminar</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <p class="text-center">No hay comentarios - ¡Puedes ser el primero en comentar!</p>
    {% endfor %}
</div>

<a id="comentario"></a>

<div class="container mb-5">
    {% if user.is_authenticated %}
        <form method="POST" class="mb-4 mt-5">
            {% csrf_token %}
            <div class="container text-start">
                <h2>Deja tu comentario</h2>
                <div class="mb-3 container-fluid mb-4">
                    {{ form.texto.label_tag }}
                    {{ form.texto }}
                </div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success">Comentar</button>
            </div>
        </form>
    {% else %}
        <h2 class="text-center">Debes iniciar sesión o registrarte para comentar</h2>
        <div class="d-grid">
            <a class="btn btn-primary" href="{% url 'apps.usuario:login' %}?=next={{ request.path }}">Iniciar sesión</a>
        </div>
        <input type="hidden" name='next' value="{{ request.path }}">
    {% endif %}
</div>
