{% load colaborador_tags %}

<div class="container-fluid mb-4">
    <h2 class="mb-4">Comentarios</h2>
    {% for comentario in comentarios %}
        <div class="mb-4">
            <p class="mb-1"><strong>{{ comentario.usuario }} - {{ comentario.fecha }}</strong></p>
            <div class="d-flex justify-content-between">
                <p>{{ comentario.texto }}</p>
                {% if user.is_superuser or comentario.usuario == user %}
                    <div style="margin-right: 200px;">
                        <a href="{% url 'apps.posts:comentario_editar' pk=comentario.pk %}?next={{ request.path }}" class="btn btn-success btn-sm">Editar</a>
                        <a href="{% url 'apps.posts:comentario_eliminar' pk=comentario.pk %}" class="btn btn-success btn-sm">Eliminar</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>Sé el primero en comentar!</p>
    {% endfor %}
</div>
{% for comentario in comentarios %}
    <div class="comentario">
        <p>{{ comentario.texto }}</p>
        <p>Por {{ comentario.usuario }} el {{ comentario.fecha }}</p>
    </div>
{% endfor %}

<a id="comentario"></a>

<div class="container mb-3">
    <form method="POST" class="mb-4 mt-4">
        {% csrf_token %}
        {% if user.is_superuser %}
            <h6>Deja tu comentario</h6>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Comentar" class="btn btn-success">
            </form>
        {% else %}
            <h2>Debes iniciar sesión o registrarte para comentar</h2>
            <a href="{% url 'apps.usuario:login' %}?=next={{ request.path }}" class="btn btn-success">Iniciar sesión</a>
            <input type="hidden" name='next' value="{{ request.path }}">
        {% endif %}
    </form>
</div>
